// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-display: 'lato', sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

 a:link{
  text-decoration: none;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
