.services{
    background-color: #f2edea;
    padding-top: 30px;
    text-align: center;

    h2 {
        font-weight: 700;
        color: #45413e;
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid white; 
        line-height: 0.1em;
        margin: 10px 0 30px; 
    
        span { 
            background:#f2edea; 
            padding:0 10px;
        }
    }
}
  
small{
    color: #8dc73e;
}
  
  
.sort1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
select{
    width: 210px;
    height: 35px;
    border: 2px solid rgba(69,65,62, .5);
    background-color: white;
    border-radius: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #45413e;
}
  
  .sort-service{
    background-color: white;
    width: 90%;
    height: 390px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  .breadcrumb{
    background-color: #f2edea;
    text-align: center;
    padding-bottom: 30px;
  
  }
  
  .breadcrumb a{
    color: #8dc73e;
  }
  
  
  .color-select{
    display: flex;
    align-items: center;
    width: 210px;
    height: 35px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
  
  }

  .color-select div:nth-of-type(1){background: white;}
  .color-select div:nth-of-type(2){background: blue;}
  .color-select div:nth-of-type(3){background: black;}
  .color-select div:nth-of-type(4){background: green;}
  .color-select div:nth-of-type(5){background: purple;}
  .color-select div:nth-of-type(6){background: orange;}
  .color-select div:nth-of-type(7){background: red;}
  .color-select div:nth-of-type(8){background: beige;}
  

  .color {
    width: 15px;   
    height: 15px; 
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }

  .color-select div:hover{
    border: 3px black solid;
  }

  .products-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2edea;
    padding: 0 50px 20px 50px; 
}

.servicesliderp{
    height: auto;
}

@media only screen and (min-width: 768px) {

    .products-services{
        flex-direction: row;
        padding: 30px 0 30px 0;
        width: 100%;
    }
   
    .products-services .card{
        width: 20%;
    }

}
  
  
  @media screen and (min-width: 768px) {
  
    .sort-service ul{
      columns: 2;
      column-gap: 40px;
    }
  
    .sort-service{
      height: 190px;
    }
  
  }
  
  @media screen and (min-width: 1024px) {
  
    .sort-service ul{
      columns: 3;
      column-gap: 40px;
    }
  
    .sort-service{
      height: 130px;
    }
  }